*
{
    padding: 0;
    margin: 0;
}
html, body
{
    height: 100%;
}

.popup-content-padding {
	padding: 18px 24px;
}
.main-title {
}
.main-title h1{
	font-family:'lobster' !important;
	color:#c75600 !important;
	font-size:21vw !important;
	text-align:center !important;
	margin:0 !important;
	height:22vw !important;
	line-height:22vw !important;
	vertical-align:middle !important;
}

.ui-header {
	background-color: #eee;
}

.ui-mobile,
.ui-mobile .ui-page {
	background-color: #eee;
	background-image: none;
}

.valign-wrapper {
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
    display: flex;
    align-items: center;
}

.nav-wrapper {
	margin: 0 15px;
}

.page {
	margin: 5% 5% 5% 5%;
	height: 90%;
	width: 90%;
	background-color: #eee;
	position:absolute;
}

.circle {
	margin:20px;
}

.babybtn {
	margin:2%;
	width:38vw;
	height:38vw;
}

.babybtn img {
	width:40vw;
	height:40vw;
}

i.fat-icon {
	line-height:40vw;
	color:#fff;
    display: inline-block;
    text-align: center;
    font-size: 30vw;
    vertical-align: middle;
}